<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Nav")
    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12 green">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 red"></div>
            <div class="col-lg-6 red">
                @RenderBody()
            </div>
            <div class="col-lg-3 red"></div>
        </div>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/myjavascript")
    @RenderSection("scripts", required: false)
</body>
</html>
